<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AbstractionLib.Logging" version="0.1.1" />
  <package id="AbstractionLib.QuestSystem" version="0.1.1" />
  <package id="AbstractionLib.Serialization" version="0.1.1" />
  <package id="Castle.Core" version="4.4.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" />
  <package id="Moq" version="4.13.1" />
  <package id="Newtonsoft.Json" version="12.0.3" />
  <package id="NLog" version="4.6.8" />
  <package id="System.AppContext" version="4.3.0" />
  <package id="System.Collections" version="4.3.0" />
  <package id="System.Diagnostics.Debug" version="4.3.0" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" />
  <package id="System.Globalization" version="4.3.0" />
  <package id="System.Runtime" version="4.3.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" />
</packages>